@font-face
{
font-family: Magic;
src: url('MAGIC.TTF')
}

body
{
    font-family:Magic; /* Font */
    font-size:25px; /* Font Size */
    color:#FF9900;
    background-color:#000000;
}

footer
{
    font-family:Magic; /* Font */
    font-size:18px; /* Font Size */
    color:#FF9900;
    background-color:#000000;
}

a:link {
    color:#FF00CC;
    text-decoration:none;
}
a:visited {
    color:#FF00CC;
    text-decoration:none;
}
a:hover {
    color:#FF00CC;
    text-decoration:none;
}
a:active {
    color:#FF00CC;
    text-decoration:none;
}

